.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 40px;
  background-color: var(--about-bg-color);
  flex-wrap: wrap;
  gap: 40px;
}
.about-left {
  position: relative;
  width: 40%;
  margin-top: 50px;
  min-width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-bg-img {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: auto;
  z-index: 11;
}

.about-person-img {
  position: absolute;
  bottom: 0;
  left: 60%;  
  transform: translateX(-50%);
  width: 100%;
  width: 450px; 
  z-index: 12;
}


.about-right {
  width: 55%;
  min-width: 300px;
  padding-left: 40px;
}

.about-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

.about-title .dark {
   color: var(--about-title-color);
}

.about-title .brown {
  color: #8B5E3C;
}

.about-description {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: var(--about-description-color); 
  line-height: 1.6;
  text-align: center;
}

.about-description .char {
  display: inline-block;
  color: #8B4C3C;
  transition: color 0.3s ease;
  white-space: pre; /* Preserve spaces and line breaks */
}


@media (max-width:1100px){
  .about-description {
    font-size: 16px;
  }
}
@media (max-width: 1024px) {
  .about-section {
    
    padding: 60px 30px;
    flex-direction: column-reverse;
  }

  .about-left,
  .about-right {
    width: 100%;
    padding: 0;
  }

  .about-person-img {
    left: 55%;
    max-width: 350px;
  }

  .about-bg-img {
    max-width: 300px;
  }

  .about-right {
    padding-top: 20px;
    width: 80%;
  }

  .about-title {
    font-size: 32px;
  }

  .about-description {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .about-section {
    padding: 40px 20px;
    gap: 50px;
  }

  .about-title {
    font-size: 28px;
  }

  .about-description {
    font-size: 15px;
  }

  .about-person-img {
    max-width: 220px;
    left: 53%;
  }

  .about-bg-img {
    max-width: 180px;
  }
}

@media (max-width:468px){
   .about-description {
    font-size: 13px;
  }
  .about-right{
    width: 90%;
  }

  
}